affine==2.3.0
albumentations==1.1.0
attrs==21.4.0
bokeh==2.4.2
certifi==2021.10.8
change-detection-pytorch==0.1.4
charset-normalizer==2.0.11
click==8.0.3
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.0.0
colorcet==3.0.0
dask==2022.1.1
dataclasses==0.6
datashader==0.13.0
datashape==0.5.2
distributed==2022.1.1
efficientnet-pytorch==0.6.3
fsspec==2022.1.0
future==0.18.2
HeapDict==1.0.1
idna==3.3
imageio==2.13.5
importlib-metadata==4.10.1
Jinja2==3.0.3
joblib==1.1.0
llvmlite==0.38.0
locket==0.2.1
MarkupSafe==2.0.1
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626179032232/work
mkl-service==2.4.0
msgpack==1.0.3
multipledispatch==0.6.0
munch==2.5.0
networkx==2.6.3
numba==0.55.1
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1634106693478/work
olefile==0.46
opencv-python==4.5.5.62
opencv-python-headless==4.5.5.62
packaging==21.3
pandas==1.3.5
param==1.12.0
partd==1.2.0
Pillow==8.4.0
pretrainedmodels==0.7.4
psutil==5.9.0
pyct==0.4.6
pyparsing==3.0.6
pyproj==3.2.1
python-dateutil==2.8.2
pytorch-toolbelt==0.4.2
pytz==2021.3
PyWavelets==1.2.0
PyYAML==6.0
qudida==0.0.4
rasterio==1.2.10
requests==2.27.1
rioxarray==0.9.1
scikit-image==0.19.1
scikit-learn==1.0.2
scipy==1.7.3
segmentation-models-pytorch==0.2.1
six @ file:///tmp/build/80754af9/six_1623709665295/work
snuggs==1.4.7
sortedcontainers==2.4.0
tblib==1.7.0
threadpoolctl==3.0.0
tifffile==2021.11.2
timm==0.4.12
toolz==0.11.2
torch==1.7.1+cu101
torchaudio==0.7.2
torchsummary==1.5.1
torchvision==0.8.2+cu101
tornado==6.1
tqdm==4.62.3
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1631814937681/work
urllib3==1.26.8
xarray==0.20.2
xarray-spatial==0.3.2
zict==2.0.0
zipp==3.7.0
